.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
}



.item {
    flex: 2;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}

.item:hover {
    flex: 7;
}